/*
*@CSS
*author:yuanjiming
*licenses
*lanmu:banner
* * Date: Web Ming 04-27 10:00 2016(公元)
*/
@charset "UTF-8";
body {
    font-size: 12px;
    font-family:'Microsoft YaHei';
}
span,i,li,a,div{
    font-size: 12px;
    font-family:'Microsoft YaHei';
    margin: 0;padding: 0;
}
*{border: none;margin:0;padding: 0;}
ul {
    list-style: none;
}
a{cursor: pointer;text-decoration: none;}
/*-*-*/
/*--topbar*头部--*/
.viewFramework-topbar{
    position: fixed;
    width: 100%;
    height: 50px;
    background: #09C;
    z-index: 101;
}
.jujin-console-topbar{
    position: relative;
    z-index: 100;
    clear: both;
    height: 50px;
    background: #09C;
    font-size: 12px;
    min-width: 990px;
}
.jujin-console-topbar .topbar-head {
    background: #008fbf;
    height: 50px;
    position: relative;
    z-index: 3;
}
.topbar-left {
    float: left;
}
.jujin-console-topbar .topbar-logo{
    display: block;
    width: 50px;
    background: #0099cc;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    line-height: 50px;
}
.jujin-console-topbar .topbar-logo {
    background: #0087b4;
}
.icon-logo1{
    width: 100px;
    height: 50px;
    float: left;
}
.jujin-console-topbar .topbar-btn {
    color: #fff;
    font-size: 14px;
    line-height: 50px;
}
.jujin-console-topbar .topbar-home-link {
    padding: 0 20px;
    margin-right: 1px;
    background: #09c;
}
.jujin-console-topbar .topbar-nav {
    position: relative;
    z-index: 2;
    background: #09C;
    margin-left: 1px;
}
.jujin-console-topbar .topbar-nav-btn {
    padding: 0 20px;
    display: inline-block;
    height: 50px;
}
.jujin-console-topbar a {
    text-decoration: none;
}
.jujin-console-topbar a:hover{
    text-decoration: none;
}
.icon-arrow-down,.icon-arrow-up,.icon-arrow-right{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'aliyun-console-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.jujin-console-topbar .dropdown .dropdown-menu {
    z-index: 1;
    font-size: 12px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.jujin-console-topbar .topbar-nav-list {
    border: none;
    padding: 10px;
    margin-top: 0;
    white-space: nowrap;
    width: 100%;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-col {
    padding: 0 10px;
    width: 100px;
    margin:0 auto;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-item .topbar-nav-item-title {
    margin: 3px 0px;
    color: #999;
    font-weight: 600;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-item ul {
    padding: 0;
    margin: 8px 0 0 0;
    list-style: none;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-item ul li.topbar-info-btn a {
    line-height: 39px;
    padding-left: 10px;
    text-align: center;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-item ul li.topbar-info-btn {
    height: 40px;
    border-bottom: 1px solid #eaedf1;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-item ul li {
    width: auto;
    height: 28px;
    line-height: 28px;
    margin-bottom: 2px;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-item ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    color: #333;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-item ul li a span.topbar-nav-item-icon {
    padding-right: 2px;
    font-size: 16px;
    vertical-align: text-bottom;
    display: inline-block;
}
.jujin-console-topbar .topbar-nav-list .topbar-nav-item .topbar-nav-gap {
    border-top: 1px solid #f2f2f2;
    width: 100%;
    margin: 6px 0 10px;
}
.topbar-info {
    background: #008fbf;
    position:absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 50px;
}
.topbar-right {
    float: right;
}
.dropdown-menu:active,.dropdown-menu.active,.open > .dropdown-menu {
    background-color:#FFF;
    display: block;
}
.dropdown-menu {
    display: none;
}
.jujin-console-topbar .topbar-info .topbar-btn-search {
    padding: 0;
    margin-left: 1px;
}
.jujin-console-topbar .topbar-info .topbar-btn {
    padding: 0 10px;
    height: 50px;
    display: block;
    z-index: 2;
    background: #09c;
}
.jujin-console-topbar .topbar-info .topbar-nav.open .topbar-btn {
    color: #333;
    background: #fff;
    border-bottom: 1px solid #eaedf1;
    position: relative;
}
.jujin-console-topbar .topbar-nav.open .icon-arrow-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.jujin-console-topbar .icon-arrow-down {
    transition: transform 0.2s, vertical-align 0.2s;
    -o-transition: transform 0.2s, vertical-align 0.2s;
    -ms-transition: transform 0.2s, vertical-align 0.2s;
    -moz-transition: transform 0.2s, vertical-align 0.2s;
    -webkit-transition: transform 0.2s, vertical-align 0.2s;
}
.jujin-console-topbar .topbar-info .topbar-nav .dropdown-menu {
    width: 100%;
    min-width: 0;
    margin: 0;
    border: none;
    z-index: 1;
    font-size: 12px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 0px;
}
.jujin-console-topbar .topbar-info .topbar-info-btn {
    height: 40px;
    border-bottom: 1px solid #eaedf1;
}
.jujin-console-topbar .topbar-info .topbar-info-btn a{
    line-height: 39px;
    padding: 0px 0px 0px 10px;
}
.open > .dropdown-menu {
    display: block;
}
.console-topbar-search-v{
    position: relative;
}
.icon-search {
    font-size: 16px;
    padding-right: 4px;
    position: relative;
    top: 2px;
}

/*--search--*/
.topbar-search-dropdown {
    height:42px;
    position: absolute;
    bottom: -40px;
    right: -1px;
    border: 2px solid #008fbf;
    background: #fff;
    display: none;
}
.topbar-search-dropdown input {
    display: block;
    height:100%;
    margin-right: 30px;
    width: 250px;
    border-width: 0;
    outline: 0;
    line-height: 40px;
    color: #546478;
    font-size: 12px;
}
.topbar-search-dropdown .topbar-search-mark {
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
    width: 34px;
    display: block;
    line-height: 34px;
    text-align: center;
    color: #546478;
}

/*-手机版-*/
.topbar-qrcode {
    position: relative;
    margin-left: 1px;
}
/*--notice--*/
.topbar-notice {
    position: relative;
    font-size: 12px;
    margin-left: 1px;
    padding: 0 12px 0 8px !important;
}
.topbar-btn-notice .topbar-btn-notice-icon {
    font-size: 24px;
    line-height: 50px;
    vertical-align: text-bottom;
    color: #fff;
}
.topbar-btn-notice .topbar-btn-notice-num {
    font-size: 12px;
    color: #fff;
    background: #ff9900;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
    margin-top: 15px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
}

/*---popover---*/
.topbar-notice .topbar-notice-panel {
    display: none;
}
.topbar-notice .topbar-notice-panel {
    position: absolute;
    top: 50px;
    left: -185px;
    width: 440px;
    border-radius: 2px;
    z-index: 15;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
    box-shadow: 0 1px 2px rgba(0,0,0,0.175);
}
.topbar-notice .topbar-notice-panel .topbar-notice-arrow {
    background: url(img/notice-arrow.png) 0 0 no-repeat;
    width: 11px;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 220px;
}
.topbar-notice .topbar-notice-panel .topbar-notice-head {
    height: 50px;
    background-color: #eaedf1;
    padding: 0 15px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
}
.topbar-notice .topbar-notice-panel .topbar-notice-body {
    height: 300px;
    overflow-y: auto;
    background: #fff;
    font-size: 12px;
}
.topbar-notice .topbar-notice-panel .topbar-notice-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topbar-notice .topbar-notice-panel .topbar-notice-body ul li {
    height: 60px;
    line-height: 20px;
    border-bottom: 1px solid #eaedf1;
}
.topbar-notice .topbar-notice-panel .topbar-notice-body ul li a {
    display: block;
    height: 100%;
    padding: 10px 10px;
    background: #fff;
    color: #333;
}
.inline-block {
    display: inline-block !important;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.topbar-notice .topbar-notice-panel .topbar-notice-body ul li a .topbar-notice-link {
    display: block;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #06c;
}
.topbar-notice .topbar-notice-panel .topbar-notice-class {
    padding: 8px 0;
    float: right;
}
.topbar-notice .topbar-notice-panel .topbar-notice-class .topbar-notice-class-name {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 66px;
    background: #eaedf1;
    text-align: center;
    border-radius: 3px;
}
.topbar-notice .topbar-notice-panel .topbar-notice-foot {
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
}
.topbar-info-item {
    display: inline-block;
    margin-left: 1px;
}
.jujin-console-topbar a:hover,.jujin-console-topbar .topbar-info .topbar-btn:hover{
    background-color: #008FBF;
}


/*--afternoon*-viewFramework-sidebar左侧栏目start--*/
.viewFramework-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
}
.console-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #293038;
    width: 180px;
}
/*---role--*/
.console-sidebar-role{
    position: absolute;
    top: 0;
    bottom: 0;
    background: #293038;
    width:50px;
}
.console-sidebar-role .console-sidebar-header span{
    display: none;
}
.console-sidebar-role .console-sidebar-header .icon-setup{
    display: none;
}
.console-sidebar-role ul.console-sidebar-list li a span{
    display: none;
}
ul.console-sidebar-list li:hover{
    background-color: #414D5C;
}
.icon-ecs{
    background: url(http://www.iconpng.com/png/metrize/snowflake137.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 0px;
    margin: 0 auto;
}

/*--h-*/

.console-sidebar-handlebar {
    background: #394555;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    color: #aeb9c2;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}
/*--图标icon样式控制start--*/
.icon-unfold {
    background: url(http://www.iconpng.com/png/metrize/snowflake137.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 auto;
}
/*--图标icon样式控制end--*/

/*--section-header---*/
.console-sidebar-header {
    background: #22282e;
    padding: 0 5px 0 20px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    cursor: pointer;
}
.console-sidebar-header-arrow {
    float: left;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 18px;
}
.console-sidebar-header span, .console-sidebar-header i {
    display: block;
    line-height: 40px;
}
.console-sidebar-header span {
    float: left;
}
.console-sidebar-header .icon-setup {
    float: right;
    font-size: 14px;
    color: #a0abb3;
    width: 24px;
    height: 24px;
}
/*--console-sidebar-list--*/
li.console-sidebar-leaf{
    list-style: none;
    width: 100%;
    cursor: pointer;
}
li.console-sidebar-leaf a {
    padding: 0 0 0 18px;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #FFF;
}
li.console-sidebar-leaf a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #aeb9c2;
    margin-right: 15px;
}
li.console-sidebar-leaf a span {
    display: inline-block;
    vertical-align: middle;
}
a:hover{
    text-decoration: none;
}
div.console-sidebar-header:hover{
    background-color:#414D5C;
}
.drop-first{
    background-color:#414D5C;
}


/*--鼠标放上显示--*/
.icon-left-ar{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top:12px solid transparent;
    border-bottom:12px solid transparent;
    border-right:12px solid #414D5C;
    position: absolute;
    top: 10px;
    left: -13px;
}
.px-o{
    font-size: 12px;
    line-height: 45px;
    height: 45px;
    position: absolute;
    left: 0px;
    width: 100%;
}
.px-o span{text-align: center;width:100%;}
.console-sidebar-role ul.console-sidebar-list li:hover .iconx-r{
    position: relative;
    top: -40px;
    left: 45px;
    background-color: #414D5C;
    display: block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100px;
    height: 45px;
}
.console-sidebar-role ul.console-sidebar-list li a .iconx-r span{display: block;}
.iconx-r{display: none;}

.console-sidebar-role .console-sidebar-header .iconx-r span{display: block;}
.console-sidebar-role .console-sidebar-header:hover .iconx-r{
    position: relative;
    top:0px;
    left: 45px;
    background-color: #414D5C;
    display: block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100px;
    height: 45px;
}
/*--afternoon*-console-viewframework-sidebar左侧栏目end--*/

/******zdq**start******/
.pleft36{padding-left: 36px;cursor: pointer;}
.console-sidebar-role .pleft36{padding-left: 0px;}
.pleft18{padding-left: 18px;cursor: pointer;}
.slidebar-chid-cont{padding-left: 18px;background: #22282e;cursor: pointer;}
.console-sidebar-role .slidebar-chid-cont{padding-left:0px;}
.console-sidebar-role .pleft18{padding-left:0px;}
div.slidebar-chid-cont:hover{background-color:#414D5C;}
.slidebar-chid-cont:hover .console-sidebar-header{background-color:#414D5C;}
.icon{
    background: url(http://www.iconpng.com/png/metrize/snowflake137.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 0px;
    margin: 0 auto;
}
.viewFramework-sidebar .sidebar-nav-fold .console-sidebar-header-arrow {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.viewFramework-sidebar .sidebar-nav-fold + ul{
    display: none;
}
.viewFramework-sidebar .sidebar-nav + ul{
    display: block;
}
.viewFramework-sidebar li.console-sidebar-leaf.active{
    background: #0099cc;
}
.viewFramework-body{
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0px;
    z-index: 100;
}
.viewFramework-content{  
    width: auto;
    position: absolute;
    top: 0px;
    left: 180px;
    bottom: 0px;
    right: 0px;
}
.reportTable{/*height: 400px;*/}
.reportTable thead tr{background: #56a2cf;color:#FFF;}
.reportTable thead tr th{text-align:center;vertical-align: middle;}
.reportTable tbody tr:nth-child(even)  {background-color: #eaf3f5;}
.reportTable  > thead > tr > th,.reportTable > tbody > tr > td{text-align: center;vertical-align: middle;font-size: 14px;}
.title {text-align: center;}
.queryCont{overflow: hidden;margin: 20px auto;}
.queryCont ul{float: left;}
.queryCont ul li{float: left;}
.queryBtns {float: left;}
.emb {width: auto;display: inline-block;vertical-align: middle;}
input.editbox4 {height:34px;width: auto;display: inline-block;vertical-align: middle;}
.px-i0{margin-left: 18px;}
.font-x{font-size: 16px;line-height: 34px;}
.eii{width:68px;margin-left:35px;}
.reportCont{width: 98%;margin: 0 auto;}
.cont-narrow{width: 50%;margin: 0 15px;}
.icon-bar{background-image: url(../img/max.png);background-size: 12px;display: inline-block;width: 12px;height: 12px;float: right;margin: 2px 0;}
.icon-t {background-image: url(../img/max.png);background-size: 12px;display: inline-block;position: absolute;top: 10px;right: 15px;width: 12px;height: 12px;}
.refresh{background-image: url(../img/refresh.png);background-size: 12px;display: inline-block;position: absolute;top: 10px;right: 40px;width: 12px;height: 12px;}
.none-data-info{font-size: 18px;}
.loadmask {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom:1
}
.masked {
    overflow: hidden !important;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -16px;
    padding: 0px
}
.loadmask-msg div {
    height: 32px;
    width: 32px;
    background: url("../img/loading.gif") no-repeat;
    padding: 0px
}
