<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>回款计划日历</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">

        <div class="scroll-calendar">
            <div class="lend">

                <div class="ler_top">
                    <div class="igs" ng-click="igr(timesMon)"></div>
                </div>

                <div class="ler_cont">
                    <div class="ler_one">
                        {{reverAll}}
                    </div>
                    <div class="ler_two">
                        计划总额（元）
                    </div>
                </div>

                <div class="ler_bottom">
                    <div class="ler_bt_left t_br">
                        <div class="ler_lt">
                            <ul>
                                <li>
                                    <p class="li-lt">{{caLendar[0].recoverYes}}</p>
                                </li>
                                <li>
                                    <p class="li-rt">本月已回款</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ler_bt_right">
                        <div class="ler_lt">
                            <ul>
                                <li>
                                    <p class="li-lt">{{noRever}}</p>
                                </li>
                                <li>
                                    <p class="li-rt">未回款</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cr-xot">
                <p class="xo-p">无回款记录</p>
            </div>
            <div class="lend-box">
                <div class="lend-all">
                    <div class="lend-cort">
                        回款明细
                    </div>
                    <div class="lend-cort0" ng-click="fullView()" ng-show="fulView">
                        全额视图
                        <img src="/m/dist/images/full.png" width="25px" height="25px"/>
                    </div>
                    <div class="lend-cort1" ng-click="interestView()" ng-show="interView">
                        本息视图
                        <img src="/m/dist/images/full.png" width="25px" height="25px"/>
                    </div>
                </div>
                <div class="dbo0" ng-show="full">
                    <div class="lend-list">
                        <table class="lend-table">
                            <thead>
                            <tr>
                                <th>日期</th>
                                <th>已回款</th>
                                <th>未回款</th>
                                <th>总金额</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <table class="ld-table">
                        <tbody>
                        <tr ng-repeat="lend in caLendar" ng-click="details(lend.recoverMonth)">
                            <th>{{lend.recoverMonth}}</th>
                            <th>{{lend.recoverYes}}</th>
                            <th class="wei_cor">{{lend.recoverWait}}</th>
                            <th>{{lend.recoverTotal}}<abbr class="blt"></abbr></th>
                        </tr>
                        </tbody>
                    </table>
                    <div class="cor_len"></div>
                </div>
                <div class="dbo1" ng-show="interest">
                    <div class="lend-list">
                        <table class="yend-table">
                            <thead>
                            <tr>
                                <th>日期</th>
                                <th>本金/已回本金</th>
                                <th>利息/已回利息</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <table class="yd-table">
                        <tbody>
                        <tr ng-repeat="lend in caLendar" ng-click="details(lend.recoverMonth)">
                            <th>{{lend.recoverMonth}}</th>
                            <th>{{lend.capital}}/{{lend.realCapital}}</th>
                            <th>{{lend.interest}}/{{lend.realInterest}}<abbr class="blt"></abbr></th>
                        </tr>
                        </tbody>
                    </table>
                    <div class="cor_len"></div>
                </div>
            </div>
        </div>

        <div ui-content-for="modals">
            <div ng-include="'/m/jujin/common.html'"></div>
        </div>

    </div>
</div>
