<div class="scrollable">
	<div class="scrollable-content background-body section">
		<!--第一步-->
		<div ng-hide="findpsw1.$submitted && step2">
			<form name="findpsw1" class="form-inline" novalidate>
                <ul class="form-ul clearfix form-ul-vertical">
                    <li>
                        <span class="ul-label">手机号</span>
                        <input type="text" id="phone" placeholder="请输入注册的手机号码" class="place-text" ng-model="form1.phone" required/>
                    </li>
                    <li>
                        <span class="ul-label">验证码</span>
                        <input type="text" maxLength="6" placeholder="请输入短信验证码" id='validcode' class="place-text" ng-model="form1.validcode" required/>
                        <div class="r0">
	                        <button class="btn btn_blue_s" ng-class="{false: 'inactive'}[disable]"  ng-click="sendmsg()">{{btnmsg}}</button>
	                    </div>
					</li>
					<li ng-if="validate">
                        <span class="ul-label">验证码</span>
                        <input id="captcha" type="text" ng-model="form1.imgVerifyCode" placeholder="请输入验证码" name="captcha" required class="place-text">
                        <div class="r0 w70">
	                        <img id="captcha-img" class="ica_img" ng-src="{{validateStr}}" ng-click="drawImg()">
	                    </div>
                    </li>
                </ul>
                <div class="form-radio-bd" ng-show="userList && userList.length>0">
                	<p class="radio-vertical-label">选择用户名</p>
                	<ul class="form-radio-vertical clearfix">
                		<li ng-repeat="item in userList">
                			<span class="public-icon checked-radio" ng-show="userId==item"  ng-click="selectUser(item);"></span> 
                			<span class="public-icon default-radio" ng-show="userId!=item"  ng-click="selectUser(item);"></span> 
                            <span class="radio-label" ng-bind="item"  ng-click="selectUser(item);"></span>
                		</li>
                	</ul>
                </div>
				<div class="form-radio-bd">
					<button type="submit" class="btn form-vertival-submit" ng-disabled="findpsw1.$invalid" ng-click="confirm(1)">
						下一步
					</button>
				</div>				
			</form>
		</div>
		<!--第二步-->
		<div ng-show="findpsw1.$submitted && step2">
			<form name="findpsw2" class="form-inline" novalidate>
				<ul class="form-ul clearfix form-ul-vertical">
                    <li>
                        <span class="ul-label w65">新密码</span>
                        <input type="password" class="place-text" maxLength="16" ng-model="form2.psw" placeholder="请输入6-16位新密码" id='psw' required/>
                    </li>
                    <li>
                        <span class="ul-label w65">确认密码</span>
                        <input type="password" class="place-text" maxLength="16" ng-model="form2.repsw" placeholder="再次输入密码" id='repsw' required/>
					</li>
                </ul>
				<div class="form-radio-bd">
					<button class="btn form-vertival-submit" ng-disabled="findpsw2.$invalid" ng-click="confirm(2)">确认</button>
				</div>
			</form>
		</div>
	</div>
	<div ui-content-for="modals">
        <div ng-include="'/m/jujin/common.html'"></div>
        <div class="modal" ui-if='dialog' ui-state='dialog' style="margin-top: 10rem;">
			<div class="modal-backdrop in"></div>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">提示信息</h4>
					</div>
					<div class="modal-body">
						<p>{{msg}}</p>
					</div>
					<div class="modal-footer">
						<button ui-turn-off="dialog" ng-click="close()" class="btn btn-default">关闭</button>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
