<div class="scrollable">
    <div class="scrollable-content">
        <div class="invite-hd clearfix">
            <a class="help_icon"  ng-click="showHelp()"></a>
            <div class="user-bd">
                <img class="circle_user" ng-src="{{userHeadImage}}" width="80" />
                <p ng-bind="userId"></p>
                <p>
                    <a class="user-code" ng-click="showCode();">我的二维码</a>
                </p>
            </div>
            <ul class="user-reward clearfix">
                <li>
                    <div class="reward-left">
                        <p class="fs16" ng-bind="total"></p>
                        <p>已邀请(位)</p>
                    </div>
                    <div class="t_br"></div>
                </li>
                <li>
                    <p class="fs16" ng-bind="inviteReward">652.30</p>
                    <p>收入(元)</p>
                </li>
            </ul>
        </div>
        <div class="invite-list clearfix">
            <div class="h10"></div>
            <ul class="center-table clearfix">
                <li class="hd">用户名</li>
                <li class="hd">手机</li>
                <li class="hd">投资区间</li>
            </ul>
            <ul class="center-table clearfix"  ng-repeat="record in invites">
                <li class="bd" ng-bind="record.nickName"></li>
                <li class="bd" ng-bind="record.tel"></li>
                <li class="bd" ng-bind="record.investRange"></li>
            </ul>   
            <div ng-if="currentPage<totalPageCount" class="more" ng-click="loadMore()">加载更多邀请人</div>         
        </div>         
    </div>
    <div class="invite-ft">
        <div class="h10"></div>
        <a class="btn_comm" share-url ng-click="share();">分享邀请链接</a>
    </div>
    <div class="jj-model-window" ng-show="isShowCode">
        <div class="jj-model-content">
            <div class="jj-model-header">
                <p class="text-center">我的二维码</p>
                <button class="close" ng-click="showCode()">×</button>
            </div>
            <div class="jj-model-body text-center">
                <img class="code-img" ng-src="{{qrcodeimgUrl}}" />
            </div>
        </div>          
    </div>
    <div class="jj-model-window" ng-show="isShowHelp">
        <div class="jj-model-content">
            <div class="jj-model-header">
                <p class="text-center">温馨提示</p>
                <button class="close" ng-click="showHelp()">×</button>
            </div>
            <div class="jj-model-body text-center">
                <p class="invite-help">通过好友邀请链接注册聚金资本并实名认证，被邀请人首次投资3000元以上（含），获取15元抵现红包。</p>
            </div>
        </div>          
    </div>
    <div ui-content-for="modals">
        <div ng-include="'/m/jujin/common.html'"></div>
    </div>  
</div>





