<div class="scrollable">
	<div class="scrollable-content background-body">
		<img src="/m/dist/images/task/task_banner.png" />
		<ul class="task_tabs clearfix">
			<li class="tab-nav" ng-class="{'tab_active': currentTab == 1}" ng-click="setActiveTab(1)">我的任务</li>
			<li class="tab-nav" ng-class="{'tab_active': currentTab == 2}" ng-click="setActiveTab(2)">已完成</li>
			<li class="tab-nav" ng-class="{'tab_active': currentTab == 3}" ng-click="setActiveTab(3)">任务列表</li>
		</ul>
		<div ng-if="currentTab == 1" class="task-body">
			<ul>
				<li ng-repeat="task in taskList" class="task-item clearfix">
					<div class="task-hd">
						<img ng-src="{{task.img}}"  class="task-img" />
					</div>				
					<div class="task-bd">
						<p class="cont-title">任务内容：</p>
						<p ng-bind="task.desc" class="cont-info"></p>
						<p class="cont-title">任务奖励：</p>
						<p class="cont-info mt8">
							<span ng-repeat="award in task.award">
								<span ng-bind="award"></span>
								<span ng-if="$index != task.award.length-1" class="relate">+</span>
							</span>
						</p>
					</div>
					<div class="task-result">
						<p ng-bind-template="{{task.step}}/{{task.totalStep}}"></p>
						<a class="task-btn" ng-class="{'red-btn': task.status == 0}" ng-if="task.status == 0" ng-click="doTask(task.turnUrl)">去完成</a>
						<a class="task-btn" ng-class="{'orange-btn': task.status == 1}"  ng-if="task.status == 1" ng-click="receiveAward(task.id);">领取奖励</a>
					</div>
				</li>
				<li ng-if="taskList==undefined || taskList.length ==0" class="no-data">
					<p>暂无相关记录</p>
				</li>
			</ul>
			<div class="load-more" ng-click="loadMoreTask(1);" ng-if="currentPage<totalPageCount">加载更多</div>
			<div class="task-rule">
				<p>任务规则：</p>
				<p ng-repeat="item in content" ng-bind="item"></p>				
			</div>
		</div>
		<div ng-if="currentTab == 2"  class="task-body">
			<ul>
				<li ng-repeat="task in taskList" class="task-item clearfix">
					<div class="task-hd">
						<img ng-src="{{task.img}}"  class="task-img" />
					</div>				
					<div class="task-bd">
						<p class="cont-title">任务内容：</p>
						<p ng-bind="task.desc" class="cont-info"></p>
						<p class="cont-title">任务奖励：</p>
						<p class="cont-info mt8">
							<span ng-repeat="award in task.award">
								<span ng-bind="award"></span>
								<span ng-if="$index != task.award.length-1" class="relate">+</span>
							</span>
						</p>
					</div>
					<div class="task-result gray-result">
						<a class="task-btn gray-btn">已完成</a>
					</div>
				</li>
				<li ng-if="taskList==undefined || taskList.length ==0" class="no-data">
					<p>暂无相关记录</p>
				</li>
			</ul>
			<div class="load-more" ng-click="loadMoreTask(2);" ng-if="currentPage<totalPageCount">加载更多</div>
		</div>
		<div ng-if="currentTab == 3"  class="task-body all-task">
			<ul>
				<li ng-repeat="task in taskList" class="task-item clearfix">
					<div class="task-status" ng-class='{"1":"own","0":"no-own"}[task.status]'></div>			
					<div class="task-bd">
						<p class="cont-title">任务内容：</p>
						<p ng-bind="task.desc" class="cont-info"></p>
						<p class="cont-title">任务奖励：</p>
						<p class="cont-info mt8">
							<span ng-repeat="award in task.award">
								<span ng-bind="award"></span>
								<span ng-if="$index != task.award.length-1" class="relate">+</span>
							</span>
						</p>
					</div>
					<div class="task-result gray-result">
						<div class="task-award" ng-repeat="item in task.awardImg" style="right:{{65*$index+10}}px">
							<img ng-src="{{item.img}}" style="max-height: 40px;max-width: 55px;" />
						</div>
					</div>
				</li>
			</ul>
			<div class="load-more" ng-click="loadMoreAllTask();" ng-if="currentPage<totalPageCount">加载更多</div>
		</div>
		<!-- 奖励弹窗 -->
		<div class="award_backdrop award_fade" ng-class="{'award_in': showAward}"></div>
		<div class="award_model award_fade" ng-class="{'award_in': showAward}">	
			<div class="award_head"></div>		
			<div class="award_bk">								
				<div class="award_body">
					<p class="award_item" ng-repeat="award in awardList" ng-bind="award"></p>			
				</div>
				<div class="award_foot">
					<p class="award_desc">奖品已发放至您的账户</p>
				</div>								
			</div>
			<div class="task_close">
				<a class="close_cicle" ng-click="closeAward();"></a>
			</div>			
		</div>
	</div>
</div>