<div class="scrollable">
	<div class="scrollable-content background-body">
       <div ng-show="scrollVip">
		<div class="item_bd">
			<p class="vipstatus">您已申请VIP: <span class="red" ng-bind="vipstatus"></span></p>
		</div>
		<div class="item_bd">
			<p class="title">选择VIP套餐</p>
			<ul class="vip_list">
				<li class="vip_item" ng-class="{true:'recommend_item'}[item.vipId==active.vipId]" ng-click="selectVip(item)" ng-repeat="item in vipMenus">
					<span class="recommendFlag" ng-show="item.recommendFlag == 1">推荐</span>
					<p class="red">{{item.vipMoney}}元/{{item.vipPeriod}}个月</p>
					<p class="price">({{item.vipMoney/item.vipPeriod}}元/月)</p>
					<span class="checked-icon"></span>
				</li>
			</ul>
           <div class="item_tom" ng-show="sorryOn">
               <div class="tom1">VIP优惠券</div>
               <div class="tom2" ng-if="itNew=='0'">
                   <span class="tom_txt" ng-click="selectCoupon()">选择优惠券</span>
                   <span class="n_yu" ng-click="selectCoupon()"></span>
               </div>
               <div class="tom2" ng-if="itNew=='1'">
                   <span class="tom_txt" ng-click="selectCoupon()">{{activeNem.name}}</span>
                   <span class="tom_txt0" ng-show="tomTxt" ng-click="cancel()">取消</span><span class="n_yu" ng-click="selectCoupon()"></span>
               </div>
           </div>
		</div>
		<div class="item_bd vipinfo">
			<p>
				1、VIP会员投标均没有利息管理费。
			</p>
			<p>
				如您在VIP期间投资了6月标，在标回款期间(VIP过期了)均没有手续费。
			</p>
			<p>
				2、非VIP期间投资均有利息管理费。
			</p>
			<p>
				如您在非VIP期间投资了6月标，在标回款期间(期间购买VIP特权)均有手续费。
			</p>
		</div>
		<div class="item_bd item_last">
			<p class="title">VIP特权</p>
			<table class="privilege">
				<tr>
					<td class="pr5">
						<span class="privilege_icon privilege1"></span>
						免收利息管理费
					</td>
					<td class="pl5">
						<span class="privilege_icon privilege2"></span>
						自动投标优先
					</td>
				</tr>
				<tr>
					<td class="pr5">
						<span class="privilege_icon privilege3"></span>
						专属身份标识
					</td>
					<td class="pl5">
						<span class="privilege_icon privilege4"></span>
						一对一专属客服
					</td>
				</tr>
			</table>
		</div>
       </div>
	</div>
    <div class="vip_ticket" ng-show="scrVip">
        <ul>
            <li ng-repeat="pon in couponList" ng-click="selectPon($index)">
                <div class="tick_v">
                    <img src="img/vip.png" class="vip_img"/>
                    <p class="tct0">{{pon.name}}</p>
                    <p class="tct1">有效期至：{{pon.expireDate | date: 'yyyy年MM月dd日' }}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottom_bd_vip">
       <a class="btn_comm" ng-click="btnModel()">立即支付：<span ng-bind="active.vipMoney">120</span>元<span ng-show="benefit"><span class="mrg">|</span><span class="item-txt0">已优惠：<b ng-bind="active.discount"></b>元</span></span></a>
   </div>
	<div class="jj-model-window" ng-show="showPay">
        <div class="jj-model-content">
        	<div class="jj-model-header">
        		<p class="text-center">输入支付密码</p>
        		<button class="close" ng-click="showModel()">×</button>
        	</div>
            <div class="jj-model-body text-center">
            	<p class="m15">支付: ￥{{active.vipMoney}}</p>
            	<input type="password" ng-model="cashPwd" class="form-control h40">
            	<a class="jj-model-onebtn" ng-click="buyVip();">确认</a>
            </div>
        </div>          
    </div>
    <div class="jj-model-window" ng-show="payMsg">
        <div class="jj-model-content">
            <div class="jj-model-header">
                <p class="text-center">输入验证码</p>
                <button class="close" ng-click="btnModel()">×</button>
            </div>
            <div class="jj-model-body text-center">
                <div class="j_msg">
                    <div class="mit">{{phoneMsg}}</div>
                    <div class="r_msg">
                        <button class="btn btn_blue_s" ng-class="{false: 'inactive'}[disable]"  ng-click="modelMsg()">{{btnmsg}}</button>
                    </div>
                </div>
                <input type="text" maxLength="6" placeholder="请输入短信验证码" id='validcode' class="form-control h40" ng-model="MsgCode"/>
<!--                <input type="password" ng-model="cashPwd" class="form-control h40">-->
                <a class="jj-model-onebtn" style="width: 100%" ng-click="msgCenter();">确认</a>
            </div>
        </div>
    </div>
	<div ui-content-for="modals">
        <div ng-include="'/m/jujin/common.html'"></div>
    </div>
</div>
