<div class="scrollable section" style="padding:0;">
    <div class="scrollable-content" style="background-color:#B90820;">
        <style>
        @charset "utf-8";
        a {
            color: #444;
            text-decoration: none;
        }  
        .register{
            margin: 1.2em 10px;
        }  
        .m-img0{width: 25px;height: 25px;margin-left: 10px;}
        .div_input {
            width: 100%;
            background: #FFFFFF;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }
        .text_box_in,.text_box_ny,.text_box_ou {
            width: 90%;
            border-bottom: 1px solid #CCCCCC;
            margin: 0 5%;
            line-height: 45px;
        }
        .text_box_title{
            width: 90%;
            border-bottom: 1px solid #CCCCCC;
            margin: 0 5%;
            line-height: 45px;
        }
        .text_box_ou {
            border-bottom: 0px;
        }
        .text_box {
            width: 80%;
            margin-left: 5px;
            color: #B6B4B6;
        }        
        .default {
            color: #B6B4B6;
            text-indent: .8em;
        }
        .default_bu0 {
            color: #B6B4B6;
            font-weight: bold;
        }
        .text_box_ou .out-i {
            width: 45%;
            margin-left: 5px;
        }            
        .text_box_button {
            padding: 0 1rem;
            text-align: center;
        }        
        .text_box_bu00 {
            width: 100%;
            background-color: #FFF;
            font-size: 14px;
            font-family: "微软雅黑";
            margin-top: 0.8em;
            color: #FFF;
            background-color: #F1454A;
            font-weight: bold;
            border-radius: 5px;
            height: 44px;
        }
        .sei-img00{
            width: 85%;
            margin: 20px auto;
        }
        .register .contact-c{
            padding: 15px 1rem;
            font-size: 12px;
        }
        .register .contact-c .view-btn{
            border-radius: 2px;
            background-color: #F1454A;
            color: #fff;
            padding: 3px 5px;
        }
        .register .btn_orange{
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            float: right;
            width: 35%;
            height: 30px;
            line-height: 30px;
            color: #FFF;
            margin: 0.7em 0em 0em 0em;
            background-color: #ff9600;
            font-size: 12px;
        }
        .ica_img{
            margin-left: 5px;
        }
        </style>
        <section>
            <div class="sei_img_back01">
                <img src="/m/dist/img/tg/b-ming0.png" style="width:100%;height:100%;" />
            </div>
            <div class="register" ng-init="norepsw = true">
                <div class="div_input">
                    <p class="text_box_in">
                        <img src="/m/dist/img/tg/ipa00.png" class="m-img0">
                        <input class="text_box default" type="text" id="username" ng-model="reg.userName" placeholder="请输入手机号码" required />
                    </p>
                    <p class="text_box_ny">
                        <img src="/m/dist/img/tg/pwd0.png" class="m-img0">
                        <input id="password" name="password" ng-model="reg.pwd" class="text_box default" type="password" placeholder="请设置6-16位登录密码" maxlength="16" required />
                    </p>
                    <!--验证码-->
                    <p class="text_box_ou"  ng-if="validate" style="border-bottom: 1px solid #CCCCCC;">
                        <img src="/m/dist/img/tg/lock00.png" class="m-img0">
                        <input id="captcha" type="text" ng-model="reg.imgVerifyCode" placeholder="请输入验证码" name="captcha" required class="out-i default">
                        <img id="captcha-img" class="ica_img" ng-src="{{validateStr}}" ng-click="drawImg()">
                    </p>
                    <p class="text_box_ou">
                        <img src="/m/dist/img/tg/lock00.png" class="m-img0">
                        <input id="captcha" ng-model="reg.validateCode" type="tel" autocomplete="off" placeholder="验证码" class="out-i default" required />
                        <input type="button" class="btn_orange"  ng-class="{false: 'inactive'}[disable]"  ng-click="getSmsCode()" value="{{btnmsg}}" />
                    </p>
                </div>
                <div class="contact-c">
                    <input id="jm-contract-agree" type="checkbox" name="jm-contract-agree" ng-init="reg.agree=true" ng-model="reg.agree" checked="checked" required="">
                    <label for="jm-contract-agree" style="color:#fff">同意</label>
                    <a href="/m/jujin/agreement/reg.html" target="_blank" class="view-btn">注册协议</a>
                    <a href="/m/jujin/agreement/risk.html" target="_blank" class="view-btn">投资风险提示</a>
                </div>
                <p class="text_box_button">
                    <button class="text_box_bu00" ng-click="register()" role="button" ng-disabled="loading" tabindex="0" aria-pressed="false">立即注册</button>
                </p>
                <div class="sei-img00">
                    <img src="/m/dist/img/tg/bradius.png"/>
                </div>
            </div>
        </section>
        <div ui-content-for="modals">
            <div ng-include="'/m/jujin/common.html'"></div>
        </div>
    </div>
</div>

