<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>聚金资本迎新年，轻松领红包</title>
    <meta name="Keywords" content="p2p理财三板贷聚金资本聚金金融p2p网贷聚金财富聚金华宝"/>
    <meta name="Description" content="河南聚金金融深圳聚金华宝旗下，聚金资本 - P2P理财P2P网贷投资理财富聚金金融P2P理财新三板贷（新三板上市企业网贷）平台是中原第一的p2p理财网贷平台，是帮助用户p2p理财以实现聚金财富增值的网贷平台，是安全稳健持续可靠的p2p网贷投资理财平台。聚金华宝旗下聚金资本以其快速高效透明，持续安全稳健的经营特征赢得了良好的用户口碑和网贷平台排名。请记住聚金:河南聚金金融、深圳聚金华宝；记住聚金资本 - P2P理财P2P网贷投资理财富聚金金融P2P理财三板贷平台"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="shortcut icon" href="http://m.jujinziben.com/m/favicon.ico">
    <link rel="stylesheet" href="newCss/newEvent.css" media="screen" type="text/css" />
    <script type="text/javascript" src="newJs/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="newJs/libs/js/angular.min.js"></script>
    <script type="text/javascript" src="newJs/libs/js/angular-route.min.js"></script>
    <script type="text/javascript" src="newJs/newController.js"></script>
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='https://m.jujinziben.com/newyearevent/newImg/share.png' />
    </div>
</head>
<body ng-app="myApp">
<div ng-class="{true:'app0',false:'app1'}[drpBox]" ng-controller="shakeCtrl">
<div class="up_box" ng-show="drop"></div>
    <div class="box_fir" ng-show="jokLogin" ng-click="loin()">
        <img src="newImg/joke.png" width="100%" height="100%"/>
        <div class="t_login">
            请您先去登录...
        </div>
    </div>
    <div class="box_fir" ng-show="jokTxt">
        <img src="newImg/open@box.png" width="100%" height="100%"/>
        <div class="close_ig" ng-click="closeJoke()">
            <img src="newImg/close.png" width="100%" height="100%"/>
        </div>
        <div class="tt0">
            恭喜您获得:
        </div>
        <div class="bxt2">
            <div class="bx1">
                <img src="newImg/redpack.png" width="100%" height="100%"/>
            </div>
        </div>
        <div class="bx2">
            {{awardMsg}}
        </div>
        <div class="bx3">
            红包已放入您的账户，下次投资即可使用！
        </div>
    </div>
    <div class="box_fir" ng-show="coupon">
        <img src="newImg/open@box.png" width="100%" height="100%"/>
        <div class="close_ig" ng-click="couponClick()">
            <img src="newImg/close.png" width="100%" height="100%"/>
        </div>
        <div class="tt0">
            恭喜您获得:
        </div>
        <div class="bxt2">
            <div class="bx4">
                <img src="newImg/jiaxi.png" width="100%" height="100%"/>
            </div>
        </div>
        <div class="bx2">
            {{awardMsg}}
        </div>
        <div class="bx3">
            加息券已放入您的账户，下次投资即可使用！
        </div>
    </div>
    <div class="box_fir" ng-show="backpack">
        <img src="newImg/open@box.png" width="100%" height="100%"/>
        <div class="close_ig" ng-click="pack()">
            <img src="newImg/close.png" width="100%" height="100%"/>
        </div>
        <div class="tt0">
            恭喜您获得:
        </div>
        <div class="bxt2 ttop">
            <div class="bx1">
                <img src="newImg/jujin.png" width="100%" height="100%"/>
            </div>
        </div>
        <div class="bx2">
            {{awardMsg}}
        </div>
        <div class="bx3">
            添加微信：18538130173兑换微信红包
        </div>
    </div>
    <div class="box_fir" ng-show="options">
        <img src="newImg/open@box.png" width="100%" height="100%"/>
        <div class="close_ig" ng-click="optionsClick()">
            <img src="newImg/close.png" width="100%" height="100%"/>
        </div>
        <div class="tt0">
            恭喜您获得<b>{{awardMsg}}</b>
        </div>
        <div class="box_cc">
            <div class="mag">
                <div class="mg_lft">
                    <div class="lt_img">
                        <img src="newImg/redpack.png" width="100%" height="100%">
                    </div>
                    <div class="lt-bn" ng-click="selectOne()">
                        选择抵现红包
                    </div>
                </div>
                <div class="mg_rgt">
                    <div class="lt_img1">
                        <img src="newImg/jujin.png" width="100%" height="100%">
                    </div>
                    <div class="lt-bn" ng-click="selectTwo()">
                        选择微信红包
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box_fir" ng-show="awardRecords">
        <img src="newImg/joke.png" width="100%" height="100%"/>
        <div class="close_ig" ng-click="award()">
            <img src="newImg/close.png" width="100%" height="100%"/>
        </div>
        <div class="tt0">
            我的获奖记录
        </div>
        <div class="records">
            <div class="reds">
                <table>
                    <tbody id="records">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="event_bak">
        <div class="event">
            <img src="newImg/shake@0.png" width="100%" height="100%"/>
            <div class="back" ng-click="back()">
                <img src="newImg/back.png" width="100%" height="100%"/>
            </div>
        </div>
        <div class="event ske">
            <div class="shake_pig">
                <img src="newImg/shake@1.png" width="100%" height="100%"/>
                <div class="nu_all">
                    <div class="num">
                        <div class="rol"></div>
                    </div>
                </div>
                <div class="shake_div">
                    <div class="shake_btn" ng-click="shake()">
                        摇一摇
                    </div>
                </div>
                <div class="ske_t0">
                    <p class="take0">或拿起手机摇一摇</p>
                </div>
            </div>
        </div>
        <p class="eve-p0">
            剩余<b class="eve_b">{{odd}}</b>次摇奖机会
        </p>
        <p class="eve-p1" ng-click="records()">
            查看我的获奖记录
        </p>
        <div class="fri_t">
            <p class="ep1">我的摇奖机会：</p>
        </div>
        <div class="eve-lst">
            <ul>
                <li>
                    <div class="ev_ig0">
                        <img src="newImg/shake@2.png" width="100%" height="100%"/>
                        <div class="ev-tx0">
                            <p class="p_one">投标<b>{{firRemarks}}</b>次</p>
                            <p>抽奖机会+<b>{{firtimes}}</b></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ev_ig0">
                        <img src="newImg/shake@2.png" width="100%" height="100%"/>
                        <div class="ev-tx0">
                            <p class="p_one">成功邀请<b>{{retimes}}</b>位好友</p>
                            <p>抽奖机会+<b>{{retimes}}</b></p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="ev_ig0">
                        <img src="newImg/shake@2.png" width="100%" height="100%"/>
                        <div class="ev-tx0">
                            <p class="p_one">集齐<b>{{cardtimes}}</b>套卡片</p>
                            <p>抽奖机会+<b>{{cardtimes}}</b></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ev_ig0">
                        <img src="newImg/shake@2.png" width="100%" height="100%"/>
                        <div class="ev-tx0">
                            <p class="p_one">点击摇笑话</p>
                            <p>抽奖机会+<b>{{sketimes}}</b></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div jj-alert ng-show="showinfo"></div>
</div>
</body>
</html>