<!DOCTYPE html>
<html>
<head>
    <title>聚金资本公开数据</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="shortcut icon" href="https://www.jujinziben.com/web/cn/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/data.css">
    <script type="text/javascript" src="https://www.jujinziben.com/web/cn/js/lib/jquery-1.7.1.min.js"></script>
    <script src="libs/js/angular.min.js"></script>
    <!--<script src="libs/js/angular-route.min.js" charset="utf-8"></script>-->
</head>
<body ng-app="myApp">
<div class="data">

    <!--右侧部分-->
    <div class="f-right" ng-controller="allCtrl">
        <div class="box prent1200 float-left mx730" id="touzitongji">
            <div class="box-title">
                投资统计
                <div class="actions">
                    <span class="font_size13 fcolor_gray2">最近一次更新时间为 <font class="fcolor_red" ng-bind="allData.INSERT_TIME"></font></span>
                </div>
            </div>
            <ul>
                <li>
                    <p class="fcolor_red font_fz" increment-number incnum="allData.TOTAL_TRANSACTIONS"></p>
                    <span>交易总额（元）</span>
                </li>
                <li>
                    <p class="fcolor_red font_fz" increment-number incnum="allData.TOTAL_TRANSACTION_NUMBERS"></p>
                    <span>发标总个数（个）</span>
                </li>
            </ul>
            <ul>
                <li>
                    <p class="fcolor_black2 font_fz" increment-number incnum="allData.TOTAL_FINANCING_PERSON"></p>
                    <span>融资总人数（人）</span>
                </li>
                <li>
                    <p class="fcolor_black2 font_fz" increment-number incnum="allData.TOTAL_FINANCING__PER_DEAL"></p>
                    <span>笔均融资额（元）</span>
                </li>
            </ul>
            <!--图表-->
            <div id="main2" style="height:300px;">

            </div>
            <!--图表-->
        </div>
        <div class="box prent1200 float-left mx430" id="daishoutongji">
            <div class="box-title">
                待收统计
            </div>
            <ul>
                <li>
                    <p class="fcolor_red font_fz" increment-number incnum="allData.TOTAL_WAITING_PAID"></p>
                    <span>待收总额（元）</span>
                </li>
                <li>
                    <p class="fcolor_red font_fz" increment-number incnum="allData.PROFIT_AMOUNT"></p>
                    <span>总收益（元）</span>
                </li>
            </ul>
            <ul>
                <li>
                    <p class="fcolor_black2 font_fz" increment-number incnum="allData.TOTAL_INVEST_PER_CAPITA"></p>
                    <span>人均累计投资额(元）</span>
                </li>
                <li>
                    <p class="fcolor_black2 font_fz" increment-number incnum="allData.LARGESTACC_FINANCING_RATE"></p>
                    <span>最大单户占比（%）</span>
                </li>
            </ul>
            <div class="fcolor_black2 font_size14">
                <h2>未来30天待收总额</h2>
            </div>
            <!--图表-->
            <div id="main" style="height:300px;" >

            </div>
            <!--图表-->
        </div>
        <div class="box prent1200 float-left mx300">
            <div class="box-title">
                近一个月每日成交量（单位/元）
            </div>
            <!--图表-->
            <div id="main3" style="height:300px;">

            </div>
            <!--图表-->
        </div>
        <div class="box prent1200 float-left tom20" ng-controller="sectCtrl" id="huankuanliebiao">
            <!--列表-->
            <div class="box-title">
                还款列表
                <div class="act">
                    <select name="MoneyList" class="sect" ng-model="slectCge" ng-change="change()" ng-init="slectCge='0';change()">
                        <option value="0">本周内回款</option>
                        <option value="1">逾期已归还</option>
                        <option value="2">逾期30天以内未归还</option>
                        <option value="3">逾期30天以上未归还</option>
                    </select>
                </div>
            </div>
           <div class="acc-list">
               <ul>
                   <li>
                       <a href="" class="rey-box" ng-repeat="vol in volume">
                       <div class="rey-pref0">
                           <div class="rey0-lt">
                               {{vol.borrowTitle}}
                           </div>
                           <div class="rey0-gt">
                               已还期数：<font>{{vol.repayTimes}}</font>/<font>{{vol.repayAccountTimes}}</font>
                           </div>
                       </div>
                       <div class="rey-total">应还本金/应还利息：<font>{{vol.repayAccountCapitalWait}}</font>/<font>{{vol.repayAccountInterestWait}}</font></div>
                       <div class="rey-person">
                           <div class="repson-lt">投资人数：<font>{{vol.userTenderCount}}</font></div>
                           <div class="repson-gt">借款期限：<font>{{vol.borrowPeriod}}</font></div>
                       </div>
                       <div class="rey-mo">
                           <div class="remo-lt">年华收益：<font>{{vol.borrowRate}}</font>%</div>
                           <div class="remo-gt">还款时间：<font>{{vol.repayTimeYes}}</font></div>
                       </div>
                   </a>
                   <a id="dxr" style="text-align: center;">
                       <div style="text-align: center;font-size: 0.85em;">没有数据</div>
                   </a>
                   </li>
               </ul>
           </div>
            <!--列表-->
            <div class="show-y">
                <div class="x-cort" ng-click="brand()">
                    <ul>
                        <!--<a href="https://www.jujinziben.com/borrowinfo.page?borrow_id={{firstpag.BORROW_ID}}" target="_blank">-->
                        <li style="width: 40%">
                            <p>{{firstpag.BORROW_TITLE}}</p>
                        </li>
                        <li style="width: 20%"><p>{{firstpag.BORROW_STATUS}}</p></li>
                        <li style="width: 10%"><p>{{firstpag.BORROW_PERIOD}}</p></li>
                        <li style="width: 30%"><p>{{firstpag.BORROW_ACCOUNT}}（元）</p></li>
                       <!-- </a>-->
                    </ul>
                </div>
                <div class="x-cort-list">
                    <ul>
                        <li ng-repeat="pagte in pag">
                            <a pagte-url target="_blank">
                                <div class="x-cort-div">
                                    <ul>
                                        <li style="width: 40%">
                                            <p>{{pagte.BORROW_TITLE}}</p>
                                        </li>
                                        <li style="width: 20%"><p>{{pagte.BORROW_STATUS}}</p></li>
                                        <li style="width: 10%"><p>{{pagte.BORROW_PERIOD}}</p></li>
                                        <li style="width: 30%"><p>{{pagte.BORROW_ACCOUNT}}（元）</p></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/echarts.js"></script>
<script>
    /*<![CDATA[*/

    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?8f1a760c5bc7050f6dafbb0e9bb78d2d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    /*]]>*/
</script>

<script src="js/controller.js"></script>
</body>
</html>