<div class="row-query">
    <div class="row-head">当前资金信息：</div>
    <div class="row-body clearfix">
        <div class="ml w305">
            <label class="font-x">可用余额：</label>                            
            <input class="emb form-control w60" type="text" ng-model="account.banlancemin"/>
            <span>-</span>
            <input class="emb form-control w60" type="text" ng-model="account.banlancemax"/>
        </div>
        <div class="ml w305">
            <label class="font-x">充值金额：</label>                            
            <input class="emb form-control w60" type="text" ng-model="account.rechargemin"/>
            <span>-</span>
            <input class="emb form-control w60" type="text" ng-model="account.rechargemax"/>
        </div>
        <div class="ml w305">
            <label class="font-x">待收金额：</label>                            
            <input class="emb form-control w60" type="text" ng-model="account.awaitmin"/>
            <span>-</span>
            <input class="emb form-control w60" type="text" ng-model="account.awaitmax"/>
        </div>
        <div class="ml w305">
            <label class="font-x">抵现红包：</label>                            
            <input class="emb form-control w60" type="text" ng-model="account.coinmin"/>
            <span>-</span>
            <input class="emb form-control w60" type="text" ng-model="account.coinmax"/>
        </div>
    </div>
</div>