    /*
    *@CSS
    *author:yuanjiming
    *licenses
    *Five18:page
    * * Date: Web Ming 05-06 17:10 2016(公元)
    */
@charset "UTF-8";
html,body{
	min-width: 320px;
	max-width: 640px;
	height: 100%;
	margin:0 auto;
	background-color:#FFF;
	font-family:'Microsoft YaHei';
	font-size: 14px;
	position: relative;
}
*{border: none;margin:0;padding: 0;}
ul {
    list-style: none;
}
a{cursor: pointer;text-decoration: none;}
/*-*-*/

.fir-img {
    height: auto;
    width: 100%;
}
.new_list{
    width: auto;
    margin: 0.1em 0.5em;
    position: relative;
}

.jjb-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: gray;
	display: table;
}
.jjb-table tr.dark {
	background: #e1e4e9;
}
.jjb-table tr:first-child th {
	border-radius: 8px 0 0;
}
.jjb-table tbody th, .jjb-table tbody td {
	padding:0.5em;
	font-size: 1.0em;
	line-height:1.5em;
	border: 2px solid #fff;
	border-top: 0;
	border-bottom: 0;
	color: #222;
}
.jjb-table tbody th {
	text-align: right;
}
.jjb-table tbody td {
	height: auto;
}
.Five-new-one{
	position: relative;
	top:0;
	width: 100%;
	height:auto;
	margin-bottom: 10%;
}