    /*
    *@CSS
    *author:yuanjiming
    *licenses
    *Five18:page
    * * Date: Web Ming 05-03 16:10 2016(公元)
    */
@charset "UTF-8";
    html,body{
        min-width: 320px;
        max-width: 640px;
        height: 100%;
        margin:0 auto;
        background-color:#80BC74;
        font-family:'Microsoft YaHei';
        font-size: 14px;
        position: relative;
    }
*{border: none;margin:0;padding: 0;}
ul {
    list-style: none;
}
a{cursor: pointer;text-decoration: none;}
/*-*-*/

.Five-all
{
    position: absolute;
    top:0;
    width: 100%;
    height:320px;
}
.fir-img{
    position: relative;
    top: 0;
    height:100%;
    width: 100%;
}
.Five-ao-p{
    position: relative;
    top:0;
    margin:10px 10px;
}
.fc-p-tct{
    color: #17420e;
    font-family: 'Microsoft YaHei';
    font-size:18px;
    line-height: 30px;
}
.one-cr{
    position: relative;
    width:170px;
    left: 15px;
    height: auto;
    top:0;
}
.one-cr img{width: 100%;height:100%;}
.border-rax{
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border:5px solid #5B9F4E;
    background: #FFF;
    display: inline-block;
    clear: both;
    width: 92%;
}

.box-img{
    position: relative;
    top:0;
    width: 100%;
    margin:0 auto;
    text-align: center;
}
.box-img img{
    width:40%;
    height: 100%;
    margin:0 auto;
}
.box-text{
    color: #060909;
    font-family: 'Microsoft YaHei';
    font-size:14px;
    line-height: 30px;
}
.box-btn{
    position: relative;
    top:0;
    width:120px;
    margin:0 auto;
    background: #E12A3B;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 0;
    text-align: center;
    color: #FFF;
    font-size:16px;
}
.box-list{
    position: relative;
    top:0;
    width: 100%;
    float: left;
}
.box-list ul li{
    float: left;
    list-style: none;
    width: 45%;
    margin: 2.0%;
}
.box-text0{
    color: #e12a3b;
    font-family: 'Microsoft YaHei';
    font-size:18px;
    line-height: 30px;
    font-weight: bold;
}
.box-di0{
    position: relative;
    top:0;
    width:100%;
    float: left;
    text-align: center;
}
.box-di01{
    position: relative;
    top:0;
    width:100%;
    float: right;
    text-align: center;
}
.box-di-ig{
    width:90%;
    height: 100%;
}
.box-di-ig0{
    width:100%;
    height: 100%;
}
.top-x{margin-top:3px;}

.box-di-ig3{
    width:59%;
    height: 100%;
}
.box-di-ig4{
    width:80%;
    height: 100%;
}
.bt-top0{
    margin-top: 3px;
}
.bt-top{
    margin-top:13%;
}
.box-di03{
    position: relative;
    top:0.7em;
    width:100%;
    float:right;
    text-align: center;
}
.box-di04{
    position: relative;
    top:0;
    width:100%;
    float:left;
    text-align: center;
}
.br-text{
    color: #17420e;
    font-size: 16px;
    line-height:20px;
}
.btom-x{
    padding-bottom: 1.5em;
}

ul li{list-style: none;}
.acttile2{display: inline-block;height:35px;background: url("../img/acttitle2.png");width:170px;margin: 3.125rem 0 0.5rem 1.25rem;background-size:100% 100%;}
.acttile3{display: inline-block;height:35px;background: url("../img/acttitle3.png");width:170px;margin: 3.125rem 0 0.5rem 1.25rem;background-size:100% 100%;}
.acttile4{display: inline-block;height:35px;background: url("../img/acttitle4.png");width:170px;margin: 3.125rem 0 0.5rem 1.25rem;background-size:100% 100%;}
.actinfo{font-size:16px;color: #38642f;line-height:22px;text-align: justify;margin: 0 1.25rem;}
.actcont{border: 4px solid #5b9f4e;border-radius: 1.25rem;background-color: #ffffff;margin:0.5em;position: relative;}
.actcont ul.cont2{font-size:18px;overflow: hidden;border-bottom: 1px solid #e6e6e6;margin: 0 0; height: 4.375rem;line-height: 4.375rem;padding: 0 15%;}
.actcont ul li.left{float: left;}
.actcont ul li.right{float: right;}
.actcont ul.cont3{overflow: hidden;padding: 0 0;width: 94%;}
.actcont ul.cont3 li{float: left;color: #ff8c26;text-align: center;width: 33.3%;}
.actcont ul.cont3 li .title{font-size:20px;margin: 0 0;line-height: 2.25rem;}
.actcont ul.cont3 li .title span{font-size: 20px;line-height: 4.5rem;}
.actcont ul.cont3 li p{font-size: 1.5rem;margin: 0 0;}
.newicon{background: url("../img/newbiao.png");display: inline-block;width: 2rem;height: 4.6rem;position: absolute;right: 1rem;top: 0px;background-size: 2rem 4.6rem;}
.actcont ul.cont4{font-size:14px;overflow: hidden;border-bottom: 1px solid #e6e6e6;margin: 0 0;height: 4.375rem;line-height: 4.375rem;padding: 0 0;}
.actcont ul.cont4 .w40{padding: 0 3.5%; width: 35%;}
.actcont ul.lastchild{border-bottom: none;}
.guize{font-size: 16px; color: #17420e;line-height: 2.2rem;margin: 0 0;margin: 0 1.25rem;text-align: justify;}
.huodong{font-size: 20px;font-weight: 700;color: #17420e;margin: 3.125rem 0 0.5rem 1.25rem;}

.gift1_list_right{width: 92%;margin: 5px 15px;background-color: #D0F4C9;overflow: hidden;}
.grig_title{color: #285220;font-size: 24px;font-family: '微软雅黑';font-weight: bold;line-height: 45px;text-align: center;margin: 10px auto;}
.gift-rig_box{width: 100%;}
.gif_tax{width: 100%;line-height: 1.6;border-collapse: collapse;text-align:center;border-spacing: 0;}
.gif_tax thead tr th{vertical-align: middle;text-align: center;font-size: 16px;padding: 15px 5px;color: #285220;font-family: '微软雅黑';}
th,td{ vertical-align: middle;}
.gif_tax td p{margin: 0 0;}

.tax120{width:120px;}
.tax150{width:150px;}
.tax165{width:165px;}

.box_boy_gif tr td p{color: #285220;font-size: 16px;font-family: '微软雅黑';line-height:42px;}
.box_boy_gif tr{margin: 5px 0;}
.one_box_radius{border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;}

.red_cor{background-color: #FF0600;padding: 0 6px;color: #ffffff;}
.grow_cor{background-color: #FFAE00;padding: 0 6px;color: #ffffff;}
.ble_cor{background-color: #0078FF;padding: 0 6px;color: #ffffff;}

.jiang_list{border: 4px solid #5b9f4e;border-radius: 1.25rem;/*height: 163px*/height: 258px;background-color: #80BC74;overflow: hidden;margin: 0.5em;}
.jiang_titles{color: #ffffff;font-size: 18px;font-family: '微软雅黑';font-weight: bold;line-height: 40px;text-align: center;}
.jiang_user_list{width: 100%;/*height: 105px;*/height: 230px;float: left;position: relative;overflow: hidden;}
.jiang_center_pub{width: 300px;height:auto;margin: 0 auto;position: relative;}
.jiang_center_pub ul{width: 100%;overflow: hidden;}
.jiang_center_pub ul li{float: left;list-style: none;width: 50%;}
.wincont{background-color: #5B9F4E;padding: 0.1em 0;border-radius: 1.25rem;margin-top: 1em;margin-bottom: 0.5em;}
.jiang_pub_txt{color: #ffffff;font-size:16px;font-family: '微软雅黑'; text-align: center;line-height: 35px;}
