<div ng-init="proQuery();" class="home_details">
    <div class="order-manager">
        订单管理&nbsp;/&nbsp;房抵贷详情
    </div>
    <div class="report_box">
        <div class="reportCont">
            <div class="quick_actions">
                <i>快捷操作</i>
                <div class="quick_btn">退款申请</div>
                <div class="quick_btn">审核通过</div>
                <div class="quick_btns">审核未通过</div>
                <div class="quick_btn">取消订单</div>
            </div>
            <div class="quick_actions">
                <i>订单状态：</i>
                <div class="i_txt" ng-bind="order_status"></div>
            </div>
            <div class="quick_actions">
                <ul>
                    <li ng-repeat="gress in progress">
                        <div class="radius-row">
                            {{gress.state_info}}
                        </div>
                        <div class="radius-row">
                            <div class="radius-box"></div>
                        </div>
                        <div class="radius-row">
                            {{gress.log_time*1000|date:'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                        <div class="rads-line1"></div>
                        <div class="rads-line2"></div>
                    </li>
                </ul>
            </div>
            <div class="quick_actions">
                <i>订单详情</i>
                <div class="x_line">
                    <div class="i_line"></div>
                </div>
                <div class="quick-all">
                    <div class="quick_left">
                        <div class="quick_actions">
                            <i>姓名：</i>
                            <div class="i_txt" ng-bind="particulars.true_name"></div>
                        </div>
                        <div class="quick_actions">
                            <i>手机号：</i>
                            <div class="i_txt" ng-bind="particulars.user_name"></div>
                        </div>
                        <div class="quick_actions">
                            <i>订单类型：</i>
                            <div class="i_txt" ng-bind="particulars.product_type"></div>
                        </div>
                        <div class="quick_actions">
                            <i>订单号：</i>
                            <div class="i_txt" ng-bind="particulars.order_id"></div>
                        </div>
                        <div class="quick_actions">
                            <i>下单时间：</i>
                            <div class="i_txt">{{particulars.create_date*1000|date:'yyyy-MM-dd HH:mm:ss'}}</div>
                        </div>
                        <div class="quick_actions">
                            <i>产品名称：</i>
                            <div class="i_txt" ng-bind="particulars.product_name"></div>
                        </div>
                    </div>
                    <div class="quick_right">
                        <div class="quick_actions">
                            <i>备注：</i>
                            <div class="box_textArea">
                                <textarea id="d1" name="d1" rows="2" cols="20" maxlength="28" class="area needsclick" ng-keyup="myKey($event);"></textarea>
                            </div>
                            <div class="edit" ng-click="remarks();">
                                保存
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quick_actions">
                <i>资质材料</i>
                <div class="x_line">
                    <div class="i_line"></div>
                </div>
                <div class="house_order">
                    房产证&nbsp;/&nbsp;不动产证
                </div>
                <div class="premises_permit">
                    <ul>
                        <li ng-repeat="chments in attachments">
                            <div class="permit_img">
                                <img ng-src="{{chments.img}}" width="100%" height="100%"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="quick_actions">
                <i>支付信息</i>
                <div class="x_line">
                    <div class="i_line"></div>
                </div>
                <div class="line_table">
                    <table>
                        <thead>
                            <th>交易类型</th>
                            <th style="width:220px;">交易流水号</th>
                            <th>付款金额</th>
                            <th>支付方式</th>
                            <th>支付状态</th>
                            <th>支付时间</th>
                            <th>退款状态</th>
                        </thead>
                        <tbody ng-repeat="pays in paysList">
                            <tr>
                                <td ng-bind="pays.payment_class"></td>
                            </tr>
                            <tr>
                                <td ng-bind="pays.payment_sn" style="width:220px;"></td>
                            </tr>
                            <tr>
                                <td ng-bind="pays.amount"></td>
                            </tr>
                            <tr>
                                <td ng-bind="pays.payment_type"></td>
                            </tr>
                            <tr>
                                <td>{{pays.create_time*1000|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                            <tr>
                                <td ng-bind="pays.status"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="quick_actions">
                <i>历史记录</i>
                <div class="x_line">
                    <div class="i_line"></div>
                </div>
                <div class="line_table">
                    <table>
                        <thead>
                            <th>时间</th>
                            <th style="width:350px;">操作</th>
                            <th>操作员</th>
                        </thead>
                        <tbody ng-repeat="tory in history">
                            <tr>
                                <td>{{tory.add_time*1000|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                            <tr>
                                <td style="width:350px;">{{tory.info}}</td>
                            </tr>
                            <tr>
                                <td>{{tory.action_user_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="quick_actions audit_bottom">
                <div class="audit_btn1">
                    审核通过
                </div>
                <div class="audit_btn2">
                    审核未通过
                </div>
                <div class="get_back" ng-click="getBack();">
                    返回
                </div>
            </div>
        </div>
    </div>
</div>