<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type">
    <meta content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>河南聚金资本金融股份有限公司</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/ng-table/ng-table.css">
    <link rel="stylesheet" type="text/css" href="css/yunlanmu.css"/>
</head>
<body ng-app="jujinApp">
<div class="viewFramework-topbar" ng-controller="topbarController">
    <!--topbar-->
    <div class="jujin-console-topbar">
        <!--topbar-right-->
        <div class="topbar-info topbar-right">
            <div class="topbar-btn topbar-btn-search topbar-left">
                <div class="console-topbar-search-v">
                    <a class="topbar-btn">
                        <span class="icon-search"></span>
                        <span class="sou">搜索</span>
                    </a>
                    <div class="topbar-search-dropdown">
                        <input class="topbar-search-ask" type="text" name="input" autocomplete="off" placeholder="搜索">
                        <a target="_blank" class="topbar-search-mark"></a>
                    </div>
                </div>
            </div>
            <!--账户名称-->
            <div class="topbar-nav topbar-left" dropdown>
                <a class="dropdown-toggle topbar-btn topbar-nav-btn">
                    <span ng-bind="username"></span>
                    <span class="icon-arrow-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="topbar-info-btn">
                        <a ng-click="logout();">
                            <span>退出</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--账户名称-->
        </div>
        <!--topbar-right-->
    </div>
    <!--topbar-->
</div>
<div class="viewFramework-body">
    <!--viewFramework-sidebar左侧栏目start-->
    <div class="viewFramework-sidebar">
        <div class="console-sidebar" jujin-main-sidebar>
            <!--头部icon-*start-->
            <div class="console-sidebar-handlebar" ng-click="toggleSidebarStatus()"><i class="icon-unfold"></i></div>
            <!--头部icon-*end-->
            <ul class="">
                <li ng-repeat="item in menuList track by $index" ng-if="!item.children" id="menu_{{item.menuId}}">
                    <a href="#{{item.link}}">
                        <i class="{{item.icon}}"></i><!--图标icon-->
                        <div class="iconx-r">
                            <div class="icon-left-ar"></div>
                            <div class="px-o">
                                <span>{{item.name}}</span>
                            </div>
                        </div>
                        <span>{{item.name}}</span>
                    </a>
                </li>
                <li ng-repeat="item in menuList track by $index" ng-if="item.children && item.children.length > 0" id="menu_{{item.menuId}}">
                    <!--section-*start-->
                    <div class="console-sidebar-header"  ng-class="{true:'sidebar-nav',false:'sidebar-nav-fold'}[item.expanded]" ng-click="toggleFoldStatus($event);" >
                        <i class="console-sidebar-header-arrow icon-arrow-down"></i>
                        <div class="iconx-r">
                            <div class="icon-left-ar"></div>
                            <div class="px-o">
                                <span>{{item.name}}</span>
                            </div>
                        </div>
                        <span>
                            {{item.name}}
                        </span>
                    </div>
                    <!--section-*end-->
                    <!--sidebar-list*start-->
                    <ul class="">
                        <li ng-repeat="item2 in item.children track by $index" ng-if="item2.children && item2.children.length > 0" id="menu_{{item2.menuId}}">
                            <div class="slidebar-chid-cont" ng-class="{true:'sidebar-nav',false:'sidebar-nav-fold'}[item2.expanded]" ng-click="toggleFoldStatus($event);">
                                <div class="console-sidebar-header">
                                    <i class="console-sidebar-header-arrow icon-arrow-down"></i><!--图标icon-->
                                    <div class="iconx-r">
                                        <div class="icon-left-ar"></div>
                                        <div class="px-o">
                                            <span>{{item2.name}}</span>
                                        </div>
                                    </div>
                                    <span>{{item2.name}}</span>
                                </div>
                            </div>
                            <ul class="console-sidebar-list">
                                <li class="pleft36 console-sidebar-leaf" ng-click="selectMenu($event);" ng-repeat="item3 in item2.children track by $index" ng-if="!item3.children" id="menu_{{item3.menuId}}">
                                    <a href="#{{item3.link}}">
                                        <i class="{{item3.icon}}"></i><!--图标icon-->
                                        <div class="iconx-r">
                                            <div class="icon-left-ar"></div>
                                            <div class="px-o">
                                                <span>{{item3.name}}</span>
                                            </div>
                                        </div>
                                        <span>{{item3.name}}</span>
                                    </a>
                                </li>
                            </ul>                          
                        </li>                
                        <li class="pleft18 console-sidebar-leaf" ng-click="selectMenu($event);" ng-repeat="item2 in item.children track by $index" ng-if="!item2.children" id="menu_{{item2.menuId}}">
                            <a href="#{{item2.link}}">
                                <i class="{{item2.icon}}"></i><!--图标icon-->
                                <div class="iconx-r">
                                    <div class="icon-left-ar"></div>
                                    <div class="px-o">
                                        <span>{{item2.name}}</span>
                                    </div>
                                </div>
                                <span>{{item2.name}}</span>
                            </a>
                        </li>                        
                    </ul>
                    <!--sidebar-list*end-->
                </li>
            </ul>           
        </div>
    </div>
    <!--viewFramework-sidebar左侧栏目end-->
    <!--右侧内容start-->
    <div class="viewFramework-content">
        <div ng-view></div>
    </div>
    <!--右侧内容end-->
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/angular/angular.min.js"></script>
<script type="text/javascript" src="js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular/angular-touch.min.js"></script>
<script type="text/javascript" src="js/ng-table/ng-table.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/datepicker/WdatePicker.js"></script>
<script type="text/javascript" src="js/jujin/toolKit.js"></script>
<!-- <script type="text/javascript" src="js/jujin/global.js"></script> -->
<script type="text/javascript" src="js/jujin/tableSet.js"></script>
<script type="text/javascript" src="js/jujin/main.js"></script>
</body>
</html>