<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>资金明细</span>
</div>
<div class="scrollable section">

    <div class="scrollable-content">
        <div id="jm-touch" class="app-link-displaying">
            <div id="jm-activities">
                <div class="bd">
                    <div class="activities">
                        <div class="activity" ng-repeat="entity in logs">
                            <div class="icon">
                                <span class="{{getType(type)}}">{{entity.typeMemo}}</span>
                            </div>
                            <div class="info">
                                <div class="text">
                                    <p ng-bind-html="entity.remark"></p>
                                    <p class="date">{{entity.date}}</p>
                                </div>
                            </div>
                            <div class="amount"><span>{{entity.money}}</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="more" ng-if="currentPage<totalPageCount" ng-click="loadMore()">加载更多交易明细</div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div ui-content-for="modals">
            <div ng-include="'/m/jujin/common.html'"></div>
        </div>
    </div>
</div>