<div ui-content-for="title">
	<span>广告页面</span>
</div>
<div>
	<div class="scrollable">
		<div class="scrollable-content" style="background-color:#FED46E;">
			<div fading>

			</div>
			<div class="img_list_i" style="  position: relative;top: 0;left: 0;width: 70%;margin: 10% 15%;">
				<img src="/m/jujin/img/02-06.png" width="100%" />
			</div>
            <div class="img_list_t" style="position: absolute;bottom:20%;right: 21%;width: 57%;z-index: 2;">
            	<img src="/m/jujin/img/draw.png" width="100%" ng-click="draw()"/>
            </div>
            <div class="img_list_t" style="position: absolute;bottom:30%;right: 34.7%;width: 29%;z-index: 3;">
            	<img id="draw" src="/m/jujin/img/rotate-static.png" width="100%" ng-click="draw()"/>
            </div>
            <div class="img_list_r" style="  position:absolute;bottom:0;width: 100%;">
                <img src="/m/jujin/img/01-06.png" />
            </div>
			<div class="i_text"style="width: auto;height: 30px;margin: 10% 14% 0 15%; font-size: 0.8em;">
				<a href="http://m.jujinziben.com/m/app/" style="color: #336699;"> 查看详情 >></a>
			</div>

			<div ui-content-for="modals">
				<div ng-include="'/m/jujin/common.html'"></div>
			</div>
		</div>
	</div>
</div>
