<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>我的银行卡</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">


        <div id="jm-touch">
            <div ng-if="bankCard" id="jm-cards">
                <label>提现银行卡</label>
                <ul>
                    <li>
                        <div class="card-icon bank-2-{{bankCard.bankType}}"></div>
                        <div class="title"><h2>{{bankCard.bankName}}</h2></div>
                        <div class="cont"><span>{{bankCard.cardId}}</span></div>
                    </li>
                </ul>
            </div>


            <div ng-if="!bankCard" id="jm-recharge-c">
                <div class="notice">
                    <h2>温馨提示：</h2>
                    <ol>
                        <li>请在更多->认证中心 进行手机和实名认证</li>
                        <li>请在更多->绑定银行卡,如需修改已绑定的银行卡请与客服联</li>
                    </ol>
                </div>

                <div id="jm-home-buttons">
                    <a href="#/bindbc" style="width:90%" class="button login">绑定银行卡</a>
                </div>
            </div>
        </div>


        <div ui-content-for="modals">
            <div ng-include="'/m/jujin/common.html'"></div>
        </div>
    </div>
</div>
