<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>红包组</span>
</div>

<!---->
<div class="scrollable">
    <div class="scrollable-content">
        <a href="#/myreds">
            <div class="btn btn-block btn-lg" style="margin-top: 10px; margin-left: 5%; width: 90%; float: left; background-color: #ff7b00; color: #fff; margin-bottom:5%">

                <span class="text-center" style="color:#fff">我的红包</span>

            </div>
        </a>

        <div id="jm-projects" class="project-list" style="margin-top:12%">



            <a ng-href="#/chancedesc?id={{item.root}}&phonenum={{item.phone}}" ng-if="chances[0]" ng-repeat="item in chances">
                <div class="rd-cointainer-orange defind-section-bar ticket">

                    <div class="col-td-7 ticket-left">
                        <p>红包组</p>
                        <div style="margin-left:5%; font-size:smaller">
                            <ul>
                                <li>分享朋友圈,好友拆过之后您也会领取等额的聚金币，聚金资本不让雷锋吃亏^_^</li>
                            </ul>
                        </div>

                        <h6 class="text-right"><small>有效期至 {{item.endTime}}</small></h6>
                    </div>
                    <div class="rd-col-td-30" style="color: white; font-size: 14px;">
                        <ul>
                            <li>总次数:{{item.orgQuantity}}</li>
                            <li>剩余次数:{{item.quantity}}</li>
                        </ul>
                    </div>
                </div>
            </a>

            <div ng-if="currentPage<totalPageCount" class="more" ng-click="loadMore()">加载更多红包组</div>
        </div>
    </div>
</div>
