<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>充值</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <div id="jm-touch">
            <div id="jm-account-c">
                <div class="account-balance-c">
                    <label class="account-balance-label block">账户余额(元)</label>
                    <span class="account-balance-val">{{balance}}</span>
                </div>

            </div><div id="jm-recharge-c">
                <form id="jm-recharge-form" name="rechargeform" method="post" novalidate="novalidate">

                    <div class="recharge amount">
                        <input type="number" id="amount" name="amount" ng-model="rechargeValue" placeholder="请输入充值金额" required>

                        <div class="msg-wrapper" ng-if="rechargeValue>50000">
                            <p class="auth-msg auth-error">充值金额最多5万元</p>
                        </div>
                        <div class="msg-wrapper" ng-if="rechargeValue&lt;=0">
                            <p class="auth-msg auth-error">充值金额需大于0元</p>
                        </div>
						<div class="msg-wrapper" ng-if="rechargeValue==''">
                            <p class="auth-msg auth-error">请输入充值金额</p>
                        </div>

                    </div><div class="recharge">
                        <button   id="jm-recharge-btn" type="submit" role="button" aria-disabled="false" tabindex="0" aria-pressed="false" ng-click="recharge()">充值</button>
                    </div>

                </form><div class="notice">
                    <h2>温馨提示：</h2>
                    <ol>
                        <li>为了您的账户安全，请在充值前进行身份认证、手机绑定以及提现密码设置。</li>
                        <li style="font-weight: bold; color: #ff3400; ">充值后未用于投资的金额申请提现（15天以内），每笔将由第三方支付额外收取0.5%的管理费，15天以后没有额外收费。</li>
                        <li style="font-weight: bold; color: #ff3400; ">第三方支付限额情况: 单笔 单日限额5万元，单月20万元。邮政储蓄银行单笔限额1万元</li>
                        <li>单笔或单日的充值限额依据各银行限额为准。</li>
                        <li>点击充值按钮，表示您已经仔细阅读并同意<a href="agree.html">《聚金资本投资咨询与管理服务协议》</a>中有关资金管理的规定条款。</li>
                        <li>如果充值金额没有及时到账，请与客服联系。</li>
                        <li>第三方支付要求移动快捷支付只能绑定一张卡，如需修改请与客服联系</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

    <div ui-content-for="modals">
        <div ng-include="'/m/jujin/common.html'"></div>
    </div>
</div>
</div>