<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>回款计划</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">

        <div id="jm-investments" class="jm-tab">
            <div class="bd">
                <div ng-if="recoves" class="projects">
                    <div class="recove" ng-repeat="entity in recoves">
                        <div class="tit box">
                            <span>{{entity.borowTitle}}</span>
                        </div>
                        <div class="amounts box">
                            <div class="amount">
                                <span class="label">日期</span>
                            </div>
                            <div class="amount">
                                <span class="label">应收金额</span>
                            </div>
                            <div class="amount">
                                <span class="label">期数</span>
                            </div>
                            <div class="amount">
                                <span class="label">类型</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="amounts box" ng-repeat="record in entity.records">
                            <div class="amount" style="width:24%">
                                <span style="text-align:center">{{record.date}}</span>
                            </div>

                            <div class="amount"><span style="text-align:center">{{record.await}}</span></div>
                            <div class="amount">
                                <span style="text-align:center">{{record.current}}/{{record.total}}</span>
                            </div>
                            <div class="amount">
                                <span style="text-align:center" class="{{record.type==1?'type':'Principal'}}"><span style="text-align:center">{{record.type==1?'利息':'本金'}}</span></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div ng-if="currentPage<totalPageCount" class="more" ng-click="loadMore()" style="margin-top:30px">加载更多项目</div>
                </div>

                <div ng-if="!recoves" class="uninvested">
                    <div class="prompt">暂无投标中的项目</div>
                    <a href="#/default" class="investnow">立即投资</a>
                </div>

            </div><br>
        </div>

        <div ui-content-for="modals">
            <div ng-include="'/m/jujin/common.html'"></div>
        </div>
    </div>
</div>
