<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>充值银行卡列表</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">

        <div id="jm-touch">
            <div ng-if="bankCards" id="jm-cards">
                <label>选择充值银行卡</label>
                <ul>
                     <li ng-repeat="bankCard in bankCards" ng-click='selectbank(bankCard)' >
                        <div class="card-icon bank-2-{{bankCard.bankType}}"></div>
                        <div class="title"><h2>{{bankCard.bankName}}</h2></div>
                        <div class="cont"><span>{{bankCard.cardId}}</span></div>
                    </li>
                </ul>
            </div>

            <div ng-if="!bankCards" class="uninvested" style="text-align:center;margin-top:50px;">
                <div class="prompt">暂无绑定的银行卡,请在网站中绑定</div>
                <a href="#/borrows" style="color: #ff8932" class="investnow">立即投资</a>
            </div>
        </div>

        <div ui-content-for="modals">
            <div ng-include="'/m/jujin/common.html'"></div>
        </div>
    </div>
</div>
