<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>我的账户</span>
</div>


<div class="scrollable">
    <div class="scrollable-content">
        <div class="box">

            <aside class="shouyi00">
                <div class="shouyi-01">
                    <p>余额生息收益</p>
                </div>

                <div class="shouyi-02">
                    <div ng-if="showInterest()">
                        <a href="#/interest">
                            <p ng-hide="showFlg"><b style="font-size:14px;margin-left:0.5em">{{entity.account.dayInterest}}</b></p>
                            <p ng-if="showFlg" style="margin-left:1em">￥<b style="font-size:20px">{{entity.account.dayInterest| replacewith:'.00':'0.00'}}</b></p>
                        </a>
                    </div>
                    <div ng-hide="showInterest()">
                        <p style="margin-left:2em" ng-click="OpInterest()"><b>开通余额生息</b><a style="margin-left:2em" target="_blank" href="./agreement/InterestAgreement.html"><span style="color:white">余额生息协议</span></a></p>
                    </div>
                </div>
            </aside>

            <section class="san-x">
                <aside class="san-0" style="width:50%">
                    <div class="san-01">
                        <p>累计收益</p>
                    </div>
                    <div class="san-02">
                        <p>￥<b>{{entity.account.totalEarnings| replacewith:'.00':'0.00'}}</b></p>
                    </div>
                </aside>
                <aside class="san-00" style="width:50%">
                    <div class="san-01">
                        <p>可用余额</p>
                    </div>
                    <div class="san-02">
                        <p>￥<b>{{entity.account.balance| replacewith:'.00':'0.00'}}</b></p>
                    </div>
                </aside>
            </section>

            <section class="san-x">
                <aside class="san-0" style="width:50%">
                    <div class="san-01">
                        <p>冻结金额</p>
                    </div>
                    <div class="san-02" style="width:50%">
                        <p>￥<b>{{entity.account.frost| replacewith:'.00':'0.00'}}</b></p>
                    </div>
                </aside>
                <aside class="san-00" style="width:50%">
                    <div class="san-01">
                        <p>聚金币</p>
                    </div>
                    <div class="san-02">
                        <p>￥<b>{{entity.account.coin| replacewith:'.00':'0.00'}}</b></p>
                    </div>
                </aside>
            </section>

            <section class="se_all">
                <aside class="as_0">
                    <div class="shezhi_01">
                        <a class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>账户资产</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p>￥{{entity.account.totalCapital| replacewith:'.00':'0.00'}}</p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="shezhi_01">
                        <a href="#/interest" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>余额生息</p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>
                </aside>
            </section>


            <section class="se_all">
                <aside class="as_0">
                    <div class="shezhi_01">
                        <a href="#/invest" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>我的投资</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p></p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="shezhi_01">
                        <a href="#/recove" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>回款计划</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p></p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="shezhi_01">
                        <a href="#/accountlog" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>资金明细</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p></p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="shezhi_01">
                        <a href="#/bankcard" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>银行卡</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p>查看</p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>
                </aside>
            </section>


            <section class="se_all">
                <aside class="as_0">
                    <div class="shezhi_01">
                        <a href="#/message" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>我的消息</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p></p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>
					
					<div class="shezhi_01">
                        <a href="http://m.jujinziben.com/draw/" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>抽奖转盘</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p>查看</p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>
					
                    <div class="shezhi_01">
                        <a href="#/drawdetail" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>我的奖品</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p></p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="shezhi_01">
                        <a href="#/myaward" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>我的奖券</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p>查看</p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="shezhi_01">
                        <a href="#/invite" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>我的邀请</p>
                            </div>
                            <div class="shezhi_div_tddvh">
                                <p></p>
                            </div>
                            <div class="shezhi_div_tddvf">
                                <img src="img/yu.png" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="shezhi_01">
                        <a href="#/setaccount" class="shezhi_div_tddv">
                            <div class="shezhi_div_tddvt">
                                <p>账户设置</p>
                            </div>
                        </a>
                    </div>
                </aside>
            </section>

            <section class="se_bot">

                <div class="shezhi_00" style="text-align:center">
                    <a ng-click="logout()">
                        <div style="text-align: center; line-height: 50px; font-size: 16px;">
                            <p style="margin-left: 0px; text-align: center; color: #ff9fa9;">退出登陆</p>
                        </div>
                    </a>
                </div>

            </section>





        </div>
    </div>


    <div class="scrollable-footer">
        <div id="jm-home-buttons" style="background-color:lightgray">
            <a href="#/withdraw" style="width:47%" class="button reg">提现</a>
            <a href="#/recharge" style="width:47%" class="button login">充值</a>
            <div class="clearfix"></div>
        </div>
    </div>

    <div ui-content-for="modals">
        <div ng-include="'/m/jujin/common.html'"></div>
    </div>


</div>
