<div ui-content-for="back">
    <a href="javascript:window.history.go(-1)"><img src="/m/images/back_24.png" /></a>
</div>
<div ui-content-for="title">
    <span>验证码查询</span>
</div>
<div class="scrollable" ng-controller="wisdomlistController">

    <div class="scrollable-content">
        <div class="s_form">
            <div class="s_text-center0">
            <form class="fm">
                <span>
                    <input type="text" class="s_ipt" id="kw" maxlength="100"  ng-model="phone" autocomplete="off" placeholder="手机号">
                </span>
                <span style="position: relative;top: 1px;left: -2%;">
                    <input  type="button" ng-click="loadMessage()" value="搜搜" id="su">
                </span>
            </form>
            </div>
        </div>
        <div id="jm-projects">
            <!--列表-->

            <ol class="notes">
                <li class="notey"  ng-repeat="item in messages">
			       <span style="word-wrap: break-word;word-break: normal;width: 100%;">
					 {{item}}
					</span>
                </li>
            </ol>
            <div class="fr_t">
            <p style="text-align: center;" ng-hide="messages.length>1">没有找到相关记录</p>
            </div>
        </div>


    </div>

    <div ui-content-for="modals">
        <div ng-include="'/m/jujin/common.html'"></div>
    </div>
</div>