<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>聚金资本 - P2P理财P2P网贷投资理财聚金金融P2CN三板贷平台</title>
    <meta name="Keywords" content="p2p理财三板贷聚金资本聚金金融p2p网贷聚金财富聚金华宝"/>
    <meta name="Description" content="河南聚金金融深圳聚金华宝旗下，聚金资本 - P2P理财P2P网贷投资理财富聚金金融P2P理财新三板贷（新三板上市企业网贷）平台是中原第一的p2p理财网贷平台，是帮助用户p2p理财以实现聚金财富增值的网贷平台，是安全稳健持续可靠的p2p网贷投资理财平台。聚金华宝旗下聚金资本以其快速高效透明，持续安全稳健的经营特征赢得了良好的用户口碑和网贷平台排名。请记住聚金:河南聚金金融、深圳聚金华宝；记住聚金资本 - P2P理财P2P网贷投资理财富聚金金融P2P理财三板贷平台"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="shortcut icon" href="http://m.jujinziben.com/m/favicon.ico">
    <link rel="stylesheet" href="newCss/newEvent.css" media="screen" type="text/css" />
    <script src="newJs/jquery-1.8.3.min.js"></script>
    <script src="newJs/libs/js/angular.min.js"></script>
    <script src="newJs/libs/js/angular-route.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" charset="utf-8"></script>
    <script src="newJs/newController.js"></script>
    <script type="text/javascript">
    //判断访问终端
    var browser={
        versions:function(){
            var u = navigator.userAgent, app = navigator.appVersion;
            return {
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1,//火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Adr') > -1, //android终端
                iPhone: u.indexOf('iPhone') > -1 , //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                weixin: u.indexOf('MicroMessenger') > -1, //是否微信 （2015-01-22新增）
                qq: u.match(/\sQQ/i) == " qq" //是否QQ
            };
        }(),
        language:(navigator.browserLanguage || navigator.language).toLowerCase()
    }
    </script>
</head>
<body ng-app="myApp">
<div ng-class="{true:'app0',false:'app1'}[drpBox]" ng-controller="newControllerCtrl">
    <div class="up_box" ng-show="drop"></div>
    <div class="box_fir0" ng-show="jokTxt" ng-click="closeJoke()">
        <img src="newImg/joke.png" width="100%" height="100%"/>
        <div class="tt1">
            开心一刻
        </div>
        <div class="bxt0">
            {{jokeTxt.content}}
        </div>
    </div>
    <div class="box_fir" ng-show="card" ng-click="ckCard()">
        <img src="newImg/open@box.png" width="100%" height="100%"/>
        <div class="tt0">
            恭喜您获得"<b>{{luck.content}}</b>"卡片！
        </div>
        <div class="bxt">
            <div class="bx0">
                <img ng-src="newImg/event@{{luck.code}}.png" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <div class="box_fir" ng-show="chance" ng-click="chanceClick()">
        <img src="newImg/open@box.png" width="100%" height="100%"/>
        <div class="tt0">
            恭喜您！
        </div>
        <div class="bxt1">
            获得1次抽奖机会~
        </div>
    </div>
    <div class="event_bak">
        <div class="event">
            <img src="newImg/event@top.png" width="100%" height="100%"/>
        </div>
        <div class="evt">
            <div class="evt_btn" ng-click="tEvent()">
                欢乐摇大奖
            </div>
        </div>
        <p class="eve-p0">
            每集齐一套即可获得一次抽奖机会
        </p>
        <div class="event-list">
            <ul>
                <li>
                    <div class="evt_img0">
                        <img src="newImg/event@1.png" width="100%" height="100%"/>
                    </div>
                </li>
                <li>
                    <div class="evt_img0">
                        <img src="newImg/event@2.png" width="100%" height="100%"/>
                    </div>
                </li>
                <li>
                    <div class="evt_img0">
                        <img src="newImg/event@3.png" width="100%" height="100%"/>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                     <p ng-class="{true:'erp',false:'ep0'}[lightResult.L1==minEp]">
                         X<abbr>{{lightResult.L1}}</abbr>
                     </p>
                </li>
                <li>
                    <p ng-class="{true:'erp',false:'ep0'}[lightResult.L2==minEp]">
                        X<abbr>{{lightResult.L2}}</abbr>
                    </p>
                </li>
                <li>
                    <p ng-class="{true:'erp',false:'ep0'}[lightResult.L3==minEp]">
                        X<abbr>{{lightResult.L3}}</abbr>
                    </p>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="evt_img0">
                        <img src="newImg/event@4.png" width="100%" height="100%"/>
                    </div>
                </li>
                <li>
                    <div class="evt_img0">
                        <img src="newImg/event@5.png" width="100%" height="100%"/>
                    </div>
                </li>
                <li>
                    <div class="evt_img0">
                        <img src="newImg/event@6.png" width="100%" height="100%"/>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <p ng-class="{true:'erp',false:'ep0'}[lightResult.L4==minEp]">
                        X<abbr>{{lightResult.L4}}</abbr>
                    </p>
                </li>
                <li>
                    <p ng-class="{true:'erp',false:'ep0'}[lightResult.L5==minEp]">
                        X<abbr>{{lightResult.L5}}</abbr>
                    </p>
                </li>
                <li>
                    <p ng-class="{true:'erp',false:'ep0'}[lightResult.L6==minEp]">
                        X<abbr>{{lightResult.L6}}</abbr>
                    </p>
                </li>
            </ul>
        </div>
        <div class="two_btn">
            <ul>
                <li>
                    <a class="evt_left" ng-click="lighten()">
                        我来点亮
                    </a>
                </li>
                <li>
                    <a class="evt_right" friend-help href="javascript:void(0);" userid="{{userId}}">
                        好友助力
                    </a>
                </li>
            </ul>
        </div>
        <div class="friends">
            <div class="fri_t">
                <p class="ep1">我的好友祝福：</p>
            </div>
        </div>
        <div class="friends_list">
            <ul>
                <li ng-repeat="inf in info">
                    <div class="fri_all">
                        <div class="fri0">
                            <div class="fri_lft">
                                <div class="fri_img0">
                                    <img ng-src="{{inf.AVATAR}}" class="names" width="100%" height="100%"/>
                                </div>
                            </div>
                            <div class="fri_rgt">
                                <ul>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L1=='0']">
                                        <div class="fri_img0">
                                            <img src="newImg/e@0.png" width="100%" height="100%"/>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L2==0]">
                                        <div class="fri_img0">
                                            <img src="newImg/e@1.png" width="100%" height="100%"/>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L3==0]">
                                        <div class="fri_img0">
                                            <img src="newImg/e@2.png" width="100%" height="100%"/>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L3==0]">
                                        <div class="fri_img0">
                                            <img src="newImg/e@3.png" width="100%" height="100%"/>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L4==0]">
                                        <div class="fri_img0">
                                            <img src="newImg/e@4.png" width="100%" height="100%"/>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L5==0]">
                                        <div class="fri_img0">
                                            <img src="newImg/e@5.png" width="100%" height="100%"/>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fri0">
                            <div class="fri_lft">
                                <div class="fri_img0">
                                    <p class="fig">{{inf.NAME}}</p>
                                </div>
                            </div>
                            <div class="fri_rgt">
                                <ul>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L1==0]">
                                        <div class="fri_img0">
                                            <p class="frp0">X<abbr>{{inf.L1}}</abbr></p>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L2==0]">
                                        <div class="fri_img0">
                                            <p class="frp0">X<abbr>{{inf.L2}}</abbr></p>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L3==0]">
                                        <div class="fri_img0">
                                            <p class="frp0">X<abbr>{{inf.L3}}</abbr></p>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L4==0]">
                                        <div class="fri_img0">
                                            <p class="frp0">X<abbr>{{inf.L4}}</abbr></p>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L5==0]">
                                        <div class="fri_img0">
                                            <p class="frp0">X<abbr>{{inf.L5}}</abbr></p>
                                        </div>
                                    </li>
                                    <li ng-class="{true:'fi_li',false:'fi_li0'}[inf.L6==0]">
                                        <div class="fri_img0">
                                            <p class="frp0">X<abbr>{{inf.L6}}</abbr></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="evt_tom" ng-click="tomMore()" ng-show="more">
            <p class="p_tom">查看更多好友祝福</p>
            <div class="bm_div">
                <img src="newImg/btom@0.png" width="100%" height="100%"/>
            </div>
        </div>
        <div class="friends_text">
            <div class="fds-txt">
                <p class="ep1">摇奖说明：</p>
                <p class="ep2">您可以通过以下四种方式获得摇奖机会：</p>
                <p class="ep2">1、完成页面上方的集福活动：“选聚金 得安心”，集够六张为一套，集齐6字即可获得一次摇奖机会，集齐多套即有多次摇奖机会。
                每天自己可以点亮一次，可邀请好友助力，每个好友每天可以助力一次，但每个人每天只能给朋友助力3次。</p>
                <p class="ep2">2、投标即可获得一次参与送红包机会（每个标的只有一次机会）。</p>
                <p class="ep2">3、成功推荐一位新用户（新用户标准：注册实名为新用户）即可获得一次摇奖机会。</p>
                <p class="ep2">4、在当前页面拿起手机摇一摇（或点击下方的“开心摇一摇”按钮）即有机会获得摇奖机会。</p>
            </div>
            <div class="happy_shake" ng-click="shakeJoke()">
                开心摇一摇
            </div>
        </div>
        <div class="friends_text">
            <div class="fds-txt">
                <p class="ep1">活动说明：</p>
                <p class="ep2">1、活动时间：2017年1月21日至2017年2月12日。</p>
                <p class="ep2">2、登录APP参与摇摇奖，每摇一次即可获得不同金额的红包，100%中奖。</p>
                <p class="ep2">3、新手标不参与此活动。</p>
                <p class="ep2">4、想兑换微信红包的客户获得红包后可选择兑换微信红包，添加微信号18538130173兑换对等的微信红包。</p>
                <p class="ep2">5、虚拟奖品将在获得10分钟后发放至聚金账户（可能会有延迟）。</p>
                <p class="ep2">6、加息券使用说明：加息券上标注的奖励为年化奖励，加息券不能叠加使用，每笔投资只能使用，新年加息券有效期截止至2月17日。</p>
                <p class="ep2">7、抵现红包使用规则：可在投资时勾选使用抵现红包，系统会自动计算最大可抵扣金额（1月标、2月标为投资金额0.4%，3月标为投资金额0.8%，6月标为投资金额1.6%，计算所得抵扣金额向下取整使用），抵现红包不可直接提现，有效期为一个月。</p>
                <p class="ep2">8、春节放假期间，请您在遇到问题时及时截图留证，以保留您的合理权益。</p>
                <p class="ep2" style="margin-bottom: 20px;">9、本活动解释权归聚金资本所有。</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>