<div ui-content-for="title">

    <span>登录</span>

</div>

<div class="scrollable section">

    <div class="scrollable-content">

        <div id="jm-touch" class="app-link-displaying">

            <div id="jm-user-reg-form-c">

                <form id="jm-user-reg-form" novalidate="novalidate">

                    <div class="item-ming-0">

                        <ul class="items">

                            <li>

                                <label class="txt">账号</label>

                                <input type="text" id="username" class="input" ng-model="user.userName" placeholder="请输入手机号或用户名" name="username">

                                <div class="msg-wrapper" ng-if="usernameerror">

                                    <p class="auth-msg auth-error">请输入手机号或用户名</p>

                                </div>

                            </li>

                            <li>

                                <label class="txt">密码</label>

                                <input type="password" id="password" ng-model="user.pwd" class="input" name="password" placeholder="请输入密码" maxlength="16">

                                <div class="msg-wrapper" ng-if="pwderror">

                                    <p class="auth-msg auth-error">请输入密码</p>

                                </div>

                            </li>

                        </ul>



                    </div>



                    <div ng-if="validate">

                        <div class="va_s_bot">

                        <div class="captcha-c">

                            <label class="txt">验证码</label>

                            <input id="captcha" type="text" ng-model="user.validateCode" placeholder="请输入验证码" name="captcha" required="" required-msg="验证码不可为空" class="mo_ica">

                            <img id="captcha-img" class="ica_img" ng-src="{{validateStr}}" ng-click="drawImg()">

                            <div class="msg-wrapper" style="display: none;"></div>

                        </div>

                        <div class="msg-wrapper" ng-if="captchaerror">

                            <p class="auth-msg auth-error">请输入验证码</p>

                        </div>

                        </div>

                    </div>



                    <!--div class="msg-wrapper" ng-if="msg">

                            <p class="auth-msg auth-error">{{msg}}</p>

                    </div-->



                    <div>

                        <button id="jm-submit-btn" ng-click="login()" role="button" ng-disabled="loading" tabindex="0" aria-pressed="false">登录</button>

                    </div>





                </form>



                <!--投之家接口回调-->

            <form name="tzjForm" id="tzjForm" method="post" action="http://t.m.touzhijia.com/api/callback">

                    <input type="hidden" name="from" value="jjzb" id="from"></input>

                    <input type="hidden" name="service" value="bindUser" id="service"></input>

                    <input type="hidden" name="username" value="" id="wusername"></input>

                    <input type="hidden" name="usernamep" value="" id="usernamep"></input>

                    <input type="hidden" name="registerAt" value="" id="registerAt"></input>

                    <input type="hidden" name="type" value="" id="type"></input>

                    <input type="hidden" name="timestamp" value="" id="timestamp"></input>

                    <input type="hidden" name="sign" value="" id="sign"></input>

                </form>



                <div class="login-c">

                    <a href="#/findpsw" class="login-c-left">忘记密码</a>

                    <a href="#/register" class="login-c-right">免费注册</a>

                </div>





                <div style="text-align: center;font-size: 14px;margin-top:10em;color: #CCC">

                    <p>客服热线&nbsp;<a href="tel:4000888178" class=""><ins style="color:#ccc">4000-888-178</ins></a></p>

                    <p>投诉热线&nbsp;<a href="tel:0371-53318297" class=""><ins style="color:#ccc">0371-53318297</ins></a></p>

                    <p>工作时间&nbsp;09:00-21:00</p>

                </div>

            </div>

        </div>



        <div ui-content-for="modals">

            <div ng-include="'/m/jujin/common.html'"></div>

        </div>

    </div>



</div>